* {
	margin: 0;
	padding: 0;
}

main {
	background-color: orange;
}

p {
	margin-bottom: 0;
	color: darkslategrey;
}

nav {
	position: fixed !important;
	width: 100vw;
	z-index: 1;
}

a {
	color: black;
	text-decoration: none !important;
	font-size: calc(.5vw + 1.2vh + .6vmin) !important;
}

a:hover {
	font-weight: bold;
}

.hover-white:hover {
	color: white !important;
}

.section {
	display: flex;
	/*border: 1px solid black;*/
}

#about-me-cont {
	flex-direction: column;
	padding: 20vh 0;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
	background: url('./img/first-step.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

#about-me {
	margin: 0 15vw;
	text-align: justify;
	line-height: 2em;
	font-size: calc(.5vw + 1.2vh + .6vmin);
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	background-color: rgba(230, 230, 230, 0.5);
	padding: 1em 2em;
	border-radius: 10px;
}

#contacts-cont {
	display: flex;
	justify-content: space-around;
	width: calc(20vw + 20vh + 15vmin);
}

#contacts-cont a {
	color: black;
	font-weight: bold;
	text-align: center;
}

#contacts-cont a:hover {
	text-decoration: underline !important;
	font-size: calc(.8vw + 1.2vh + .6vmin) !important;
}

.icons {
	width: calc(1.5vw + 2.5vh + 1vmin);
	height: calc(1.5vw + 2.5vh + 1vmin);
	margin: 5px;
	border-radius: 5px;
}

#projects-cont {
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10vh 2vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

.projects-header {
	margin: 10vh auto auto;
	padding: 4vh 0;
	text-align: center;
	font-size: calc(1.5vw + 1.2vh + 1vmin);
	font-family: 'Roboto', sans-serif;
	font-weight: bold;

	p {
		color: black;
	}
}

.real-world-cont {
	display: flex;
	width: 100%;
}

.projects-sec-cont {
	display: flex;
	flex-wrap: wrap;
	margin: 1em auto;
}

.project-images-cont {
	height: 25vw;
}

.project-images {
	height: 100%;
	border: 1px solid black;
	margin-bottom: 15px;
}

.project {
	padding: 2%;
}

.title {
	font-weight: bold;
	color: black;
}

.description {
	font-size: calc(.5vw + 1.2vh + .6vmin);
	text-align: justify;
	margin: 15px 0;
}

.gifs {
	width: 100%;
	height: auto;
	border: 1px solid black;
	margin-bottom: 15px;
	background: url('./img/first-step.jpeg');
}

.carousel-item>img {
	width: 100vw;
	height: 100vh;
}

@media (max-width: 800px) {
	#about-me-cont {
		height: 80vh;
	}

	#about-me {
		margin: 0 10vw;
		line-height: 1.5em;
		padding: 1em;
	}

	#contacts-cont {
		position: relative;
		top: 5vh;
	}

	#projects-cont {
		padding: 4vh 2vw;
	}

	.gifs {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.projects-header {
		font-size: calc(1vw + 2.5vh + 1vmin);
		margin-left: 0;
		padding: 4vh 2vw;
	}

	.real-world-cont {
		flex-direction: column;
	}

	.project-images-cont {
		height: 45vw;
	}

	.projects-sec-cont:nth-child(even) {
		flex-direction: column-reverse;
	}
}